# 범주형변수 가공 데모

## 라이브러리 import 및 설정

In [1]:
%reload_ext autoreload
%autoreload 2
%matplotlib inline

In [2]:
import kaggler
from lightgbm import LGBMRegressor
from matplotlib import rcParams, pyplot as plt
import numpy as np
import pandas as pd
from pathlib import Path
from scipy.sparse import hstack
import seaborn as sns
from sklearn.metrics import mean_squared_error
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from warnings import simplefilter

In [3]:
rcParams['figure.figsize'] = (16, 8)
plt.style.use('fivethirtyeight')
simplefilter('ignore')

## 학습데이터 로드

학습데이터는 데이콘 [영화 관객수 예측 모델 개발](https://dacon.io/competitions/open/235536/data/) 페이지에서 다운로드하여 `../data/movies/` 폴더에 저장해 둔다.

이 데이터는 영화의 장르, 개봉일, 상영시간 등과 같은 데이터로 영화 총 관객수 (`box_off_num`)를 예측하는 데이터이다.

In [4]:
data_dir = Path('../data/movies/')
trn_file = data_dir / 'movies_train.csv'
seed = 42
target_col = 'box_off_num'

In [5]:
df = pd.read_csv(trn_file, index_col=0)
print(df.shape)
df.head()

(600, 11)

,distributor,genre,release_time,time,screening_rat,director,dir_prev_bfnum,dir_prev_num,num_staff,num_actor,box_off_num
title,,,,,,,,,,,
개들의 전쟁,롯데엔터테인먼트,액션,2012-11-22,96,청소년 관람불가,조병옥,NaN,0,91,2,23398
내부자들,(주)쇼박스,느와르,2015-11-19,130,청소년 관람불가,우민호,1161602.50,2,387,3,7072501
은밀하게 위대하게,(주)쇼박스,액션,2013-06-05,123,15세 관람가,장철수,220775.25,4,343,4,6959083
나는 공무원이다,(주)NEW,코미디,2012-07-12,101,전체 관람가,구자홍,23894.00,2,20,6,217866
불량남녀,쇼박스(주)미디어플렉스,코미디,2010-11-04,108,15세 관람가,신근호,1.00,1,251,2,483387

## EDA (Exploratory Data Analysis)

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 600 entries, 개들의 전쟁 to 베를린
Data columns (total 11 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   distributor     600 non-null    object
 1   genre           600 non-null    object
 2   release_time    600 non-null    object
 3   time            600 non-null    int64
 4   screening_rat   600 non-null    object
 5   director        600 non-null    object
 6   dir_prev_bfnum  270 non-null    float64
 7   dir_prev_num    600 non-null    int64
 8   num_staff       600 non-null    int64
 9   num_actor       600 non-null    int64
 10  box_off_num     600 non-null    int64
dtypes: float64(1), int64(5), object(5)
memory usage: 56.2+ KB

* 독립변수를 포함 총 6개의 수치형변수가 있다. 그 중 `dir_prev_bfnum`은 결측값이 많음을 확인할 수 있다.
* `distributor`, `genre`, `screening_rat`, `director`의 총 4개의 범주형변수가 있다.
* `release_time`은 시계열변수이지만 문자열 (`object`)으로 인식하고 있다.

In [7]:
df['release_time'] = pd.to_datetime(df['release_time'])
print(df['release_time'].dtype)

datetime64[ns]

In [8]:
df.fillna(0, inplace=True)
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 600 entries, 개들의 전쟁 to 베를린
Data columns (total 11 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   distributor     600 non-null    object
 1   genre           600 non-null    object
 2   release_time    600 non-null    datetime64[ns]
 3   time            600 non-null    int64
 4   screening_rat   600 non-null    object
 5   director        600 non-null    object
 6   dir_prev_bfnum  600 non-null    float64
 7   dir_prev_num    600 non-null    int64
 8   num_staff       600 non-null    int64
 9   num_actor       600 non-null    int64
 10  box_off_num     600 non-null    int64
dtypes: datetime64[ns](1), float64(1), int64(5), object(4)
memory usage: 56.2+ KB

`release_time`을 시계열타입 (`datetime`)으로 변환하고 결측값을 0으로 대체하였다.

In [9]:
num_cols = [x for x in df.columns if df[x].dtype in [np.int64, np.float64] and x != target_col]
cat_cols = ['distributor', 'genre', 'screening_rat', 'director']
print(f'    numeric ({len(num_cols)}):\t{num_cols}')
print(f'categorical ({len(cat_cols)}):\t{cat_cols}')

    numeric (5):	['time', 'dir_prev_bfnum', 'dir_prev_num', 'num_staff', 'num_actor']
categorical (4):	['distributor', 'genre', 'screening_rat', 'director']

### 범주형변수 EDA

In [10]:
print(cat_cols)

['distributor', 'genre', 'screening_rat', 'director']

In [11]:
pd.DataFrame(df['distributor'].value_counts())

           distributor
CJ 엔터테인먼트           54
롯데엔터테인먼트            52
(주)NEW              30
(주)마운틴픽쳐스           29
인디스토리               26
...                ...
(주)팝 파트너스            1
스폰지이엔티               1
(주)JK필름              1
디 씨드                 1
스튜디오 블루              1

[169 rows x 1 columns]

In [12]:
pd.DataFrame(df['genre'].value_counts())

        genre
드라마       221
다큐멘터리      93
멜로/로맨스     78
코미디        53
공포         42
액션         28
느와르        27
애니메이션      21
미스터리       17
SF         13
뮤지컬         5
서스펜스        2

In [13]:
pd.DataFrame(df['screening_rat'].value_counts())

          screening_rat
청소년 관람불가            204
15세 관람가             202
12세 관람가             102
전체 관람가               92

In [14]:
pd.DataFrame(df['director'].value_counts())

     director
홍상수         7
노진수         4
장률          4
전규환         4
신재호         4
..        ...
안상훈         1
한준희         1
이광호         1
김동빈         1
전윤수         1

[472 rows x 1 columns]

## 수치형/시계열변수 가공

수치형 독립변수 중 멱변환 분포를 따르는 변수에도 `np.log1p()` 변환을 적용하였다.

In [15]:
df[['dir_prev_bfnum', 'dir_prev_num', 'num_staff', 'num_actor']] = df[['dir_prev_bfnum', 'dir_prev_num', 'num_staff', 'num_actor']].apply(np.log1p)
df[num_cols].describe()

             time  dir_prev_bfnum  dir_prev_num   num_staff   num_actor
count  600.000000      600.000000    600.000000  600.000000  600.000000
mean   100.863333        5.305796      0.462197    4.026352    1.446130
std     18.097528        6.254561      0.555570    1.789517    0.446256
min     45.000000        0.000000      0.000000    0.000000    0.000000
25%     89.000000        0.000000      0.000000    2.890372    1.098612
50%    100.000000        0.000000      0.000000    4.424829    1.386294
75%    114.000000       12.837611      1.098612    5.579730    1.609438
max    180.000000       16.684279      1.791759    6.768493    3.258097

In [16]:
df['year'] = df['release_time'].dt.year
df['month'] = df['release_time'].dt.month
df.head()

,distributor,genre,release_time,time,screening_rat,director,dir_prev_bfnum,dir_prev_num,num_staff,num_actor,box_off_num,year,month
title,,,,,,,,,,,,,
개들의 전쟁,롯데엔터테인먼트,액션,2012-11-22,96,청소년 관람불가,조병옥,0.000000,0.000000,4.521789,1.098612,23398,2012,11
내부자들,(주)쇼박스,느와르,2015-11-19,130,청소년 관람불가,우민호,13.965312,1.098612,5.961005,1.386294,7072501,2015,11
은밀하게 위대하게,(주)쇼박스,액션,2013-06-05,123,15세 관람가,장철수,12.304905,1.609438,5.840642,1.609438,6959083,2013,6
나는 공무원이다,(주)NEW,코미디,2012-07-12,101,전체 관람가,구자홍,10.081425,1.098612,3.044522,1.945910,217866,2012,7
불량남녀,쇼박스(주)미디어플렉스,코미디,2010-11-04,108,15세 관람가,신근호,0.693147,0.693147,5.529429,1.098612,483387,2010,11

In [17]:
num_cols += ['year', 'month']
print(num_cols)

['time', 'dir_prev_bfnum', 'dir_prev_num', 'num_staff', 'num_actor', 'year', 'month']

In [18]:
features = num_cols + cat_cols
print(features)

['time', 'dir_prev_bfnum', 'dir_prev_num', 'num_staff', 'num_actor', 'year', 'month', 'distributor', 'genre', 'screening_rat', 'director']

## 범주형변수 가공

In [19]:
rmse = lambda y, p: np.sqrt(mean_squared_error(y, p))
rmsle = lambda y, p: np.sqrt(mean_squared_error(np.log1p(y), np.log1p(p)))

### Ordinal Encoding

In [20]:
from sklearn.preprocessing import OrdinalEncoder
df_cat = df.copy()
oe = OrdinalEncoder()
df_cat[cat_cols] = oe.fit_transform(df[cat_cols])
df_cat[cat_cols].head()

           distributor  genre  screening_rat  director
title
개들의 전쟁            80.0   10.0            3.0     393.0
내부자들              21.0    2.0            3.0     252.0
은밀하게 위대하게         21.0   10.0            1.0     357.0
나는 공무원이다           6.0   11.0            2.0      17.0
불량남녀              96.0   11.0            1.0     218.0

In [21]:
trn, tst = train_test_split(df_cat, test_size=.2, random_state=seed)
clf = LGBMRegressor(random_state=seed)
clf.fit(trn[features], np.log1p(trn[target_col]))
p = np.expm1(clf.predict(tst[features]))
print(f' RMSE:\t{rmse(tst[target_col], p):12.2f}')
print(f'RMSLE:\t{rmsle(tst[target_col], p):12.2f}')

 RMSE:	  1412591.02
RMSLE:	        1.98

### Label Encoding with Grouping

In [22]:
from kaggler.preprocessing import LabelEncoder
df_cat = df.copy()
le = LabelEncoder(min_obs=2)
df_cat[cat_cols] = le.fit_transform(df[cat_cols])
df_cat[cat_cols].head()

Using TensorFlow backend.

           distributor  genre  screening_rat  director
title
개들의 전쟁             2.0      5              0       0.0
내부자들               6.0      6              0       6.0
은밀하게 위대하게          6.0      5              1       0.0
나는 공무원이다           3.0      3              3       0.0
불량남녀              66.0      3              1       0.0

In [23]:
trn, tst = train_test_split(df_cat, test_size=.2, random_state=seed)
clf = LGBMRegressor(random_state=seed)
clf.fit(trn[features], np.log1p(trn[target_col]))
p = np.expm1(clf.predict(tst[features]))
print(f' RMSE:\t{rmse(tst[target_col], p):12.2f}')
print(f'RMSLE:\t{rmsle(tst[target_col], p):12.2f}')

 RMSE:	  1182500.97
RMSLE:	        1.92

### One-Hot-Encoding

In [24]:
from sklearn.preprocessing import OneHotEncoder
ohe = OneHotEncoder()
X = hstack((df[num_cols],
            ohe.fit_transform(df[cat_cols])))
print(X.shape)

(600, 664)

In [25]:
X_trn, X_tst, y_trn, y_tst = train_test_split(X, df[target_col], test_size=.2, random_state=seed)
clf = LGBMRegressor(random_state=seed)
clf.fit(X_trn, np.log1p(y_trn))
p = np.expm1(clf.predict(X_tst))
print(f' RMSE:\t{rmse(tst[target_col], p):12.2f}')
print(f'RMSLE:\t{rmsle(tst[target_col], p):12.2f}')

 RMSE:	  1239343.52
RMSLE:	        1.99

### One-Hot-Encoding with Grouping

In [26]:
from kaggler.preprocessing import OneHotEncoder
ohe = OneHotEncoder(min_obs=2)
X = hstack((df[num_cols],
            ohe.fit_transform(df[cat_cols])))
print(X.shape)

(600, 187)

In [27]:
X_trn, X_tst, y_trn, y_tst = train_test_split(X, df[target_col], test_size=.2, random_state=seed)
clf = LGBMRegressor(random_state=seed)
clf.fit(X_trn, np.log1p(y_trn))
p = np.expm1(clf.predict(X_tst))
print(f' RMSE:\t{rmse(tst[target_col], p):12.2f}')
print(f'RMSLE:\t{rmsle(tst[target_col], p):12.2f}')

 RMSE:	  1183708.39
RMSLE:	        1.96

### Target Encoding without Cross-Validation

In [28]:
from kaggler.preprocessing import TargetEncoder
trn, tst = train_test_split(df, test_size=.2, random_state=seed)
te = TargetEncoder(cv=None)
trn[cat_cols] = te.fit_transform(trn[cat_cols], trn[target_col])
tst[cat_cols] = te.transform(tst[cat_cols])
trn[cat_cols].head()

                distributor         genre  screening_rat       director
title
돼지의 왕         721746.077154  1.998008e+05   3.511182e+05  723283.709843
청춘그루브         723430.057925  6.093409e+05   1.289088e+06  723430.057925
행복한 울릉인       722860.857509  7.472685e+04   1.529000e+05  723430.082604
옥희의 영화        718805.251941  6.093409e+05   3.511182e+05  711379.735399
권법형사 : 차이나타운   90921.244145  2.212935e+06   3.511182e+05  723429.982531

In [29]:
clf = LGBMRegressor(random_state=seed)
clf.fit(trn[features], np.log1p(trn[target_col]))
p = np.expm1(clf.predict(tst[features]))
print(f' RMSE:\t{rmse(tst[target_col], p):12.2f}')
print(f'RMSLE:\t{rmsle(tst[target_col], p):12.2f}')

 RMSE:	  1271836.20
RMSLE:	        3.40

### Target Encoding with Cross-Validation

In [30]:
trn, tst = train_test_split(df, test_size=.2, random_state=seed)
te = TargetEncoder()
trn[cat_cols] = te.fit_transform(trn[cat_cols], trn[target_col])
tst[cat_cols] = te.transform(tst[cat_cols])
trn[cat_cols].head()

                distributor          genre  screening_rat       director
title
돼지의 왕         723277.447850  267982.096480  348028.101562  723432.730281
청춘그루브         742425.489583  742425.489583  742425.489583  742425.489583
행복한 울릉인       768901.203125   10425.029522  122162.823956  768901.203125
옥희의 영화        722877.805490  813347.509259  380361.663366  721858.927057
권법형사 : 차이나타운  722864.097814  727096.433397  115692.865474  597129.065104

In [31]:
clf = LGBMRegressor(random_state=seed)
clf.fit(trn[features], np.log1p(trn[target_col]))
p = np.expm1(clf.predict(tst[features]))
print(f' RMSE:\t{rmse(tst[target_col], p):12.2f}')
print(f'RMSLE:\t{rmsle(tst[target_col], p):12.2f}')

 RMSE:	  1529036.45
RMSLE:	        2.12

### Frequency Encoding

In [32]:
from kaggler.preprocessing import FrequencyEncoder
df_cat = df.copy()
fe = FrequencyEncoder()
df_cat[cat_cols] = fe.fit_transform(df[cat_cols])
df_cat[cat_cols].head()

           distributor  genre  screening_rat  director
title
개들의 전쟁              52     28            204         1
내부자들                26     27            204         4
은밀하게 위대하게           26     28            202         1
나는 공무원이다            30     53             92         1
불량남녀                 2     53            202         1

In [33]:
trn, tst = train_test_split(df_cat, test_size=.2, random_state=seed)
clf = LGBMRegressor(random_state=seed)
clf.fit(trn[features], np.log1p(trn[target_col]))
p = np.expm1(clf.predict(tst[features]))
print(f' RMSE:\t{rmse(tst[target_col], p):12.2f}')
print(f'RMSLE:\t{rmsle(tst[target_col], p):12.2f}')

 RMSE:	  1258846.99
RMSLE:	        1.96

### Hash Encoding

In [34]:
from sklearn.feature_extraction import FeatureHasher
fh = FeatureHasher(n_features=128, input_type='string')
X = hstack([df[num_cols]] + [fh.fit_transform(df[col]) for col in cat_cols])
print(X.shape)

(600, 519)

In [35]:
X_trn, X_tst, y_trn, y_tst = train_test_split(X, df[target_col], test_size=.2, random_state=seed)
clf = LGBMRegressor(random_state=seed)
clf.fit(X_trn, np.log1p(y_trn))
p = np.expm1(clf.predict(X_tst))
print(f' RMSE:\t{rmse(tst[target_col], p):12.2f}')
print(f'RMSLE:\t{rmsle(tst[target_col], p):12.2f}')

 RMSE:	  1261559.18
RMSLE:	        1.95